body, body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border:none;
    display: block;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}




