
:root{
    --main__border_t: 10vh;
    --main__border_l: 2vw;
    --main__border_r: 2vw;
    --main__border_b: 2vh;


    --control-button-height: 4vh;
}

.main{
    max-width: 100%;
    max-height: 100%;
    height:100vh;
    width: 100vw;
    background: red; 
    color: white;
    
    transition: 0.25s;
}



.main_404{
    background: lightcoral;
    will-change: background;
}

.main_index{
    background: lightgreen;
    will-change: background;
}


.main_menu{
    background: lightblue;
    will-change: background;
}


.main_contacts{
    background: lightslategray;
}

.main_index .button_home{
    visibility: hidden;
}


.views{
    height: 300vh;
    width: 300vw;
    position: absolute;
    transition: 0.25s;
    will-change: transform;
}



.main_index > .views{
    transform: translateY(-100vh);
}

.main_404 > .views {
    transform: translateY(-200vh);
}

.main_menu > .views,
.main_contacts > .views {
    transform: translate(-100vw, -100vh);
}

.main_menu .view_menu,
.main_contacts .view_contacts{
    opacity: 1;
    z-index: 100;
}

.main_menu .view_contacts,
.main_contacts .view_menu{
    opacity: 0;
    z-index: 99;
}


.main_about > .views{
    transform: translateX(-100vw);
}


.main_portfolio > .views{
    transform: translate(-200vw, -100vh);
}

.main_blog > .views{
    transform: translate(-100vw, -200vh);
}

.main_post > .views{
    transform: translate(-200vw, -200vh);
}


.view{
    width: calc(100vw - var(--main__border_l) - var(--main__border_r));
    height: calc(100vh - var(--main__border_t) - var(--main__border_b));
    transition: 0.5s;
    color: black;

    border: 2px dashed black;
    background: transparent;

    position: absolute;

    margin: var(--main__border_t) var(--main__border_r) var(--main__border_b) var(--main__border_l);


    display: flex;

}





.view_404{
    top: 200vh;
    left: 0vw;
}


.view_index{
    top: 100vh;
    left: 0;



    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;


}


.view__h1{
    font-size: calc( (100vh - var(--main__border_b)) / 4 );
}


.view__rtcornerlink{
    font-size: calc( (100vh - var(--main__border_b)) / 16 );
    position: absolute;
    display: block;
    top: var(--main__border_b);
    right: var(--main__border_r);
}


.view_menu,
.view_contacts{
    top: 100vh;
    left: 100vw
}


.view_menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: calc( (100vh - var(--main__border_t) - var(--main__border_b)) / 16 );

}

.view_contacts{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: calc( (100vw - var(--main__border_l)*2 - var(--main__border_r)*2) / 18 );

    color: white;
}

.view_about{
    top:0;
    left: 100vw;
}

.view_portfolio{
    top: 100vh;
    left: 200vw;
}

.view_blog{
    top: 200vh;
    left: 100vw;
}


.link{
    text-decoration: underline;
    cursor: pointer;
}



.control-buttons{
    position: fixed;
    height: var(--main__border_t);
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    z-index: 500;

    transition: 0.5s;
    
}


.button{
    display: flex;
    align-items: center;
    font-size:  calc( var(--main__border_t) - (var(--main__border_t)/3));

    cursor: pointer;
}


.button_control{
    color: black;
    font-style: bold;

    font-size: 100

}

.button_on{
}

.button_off{
    visibility: hidden;
}