@font-face {
    font-family: Glacia;
    src: url("../fonts/GlacialIndifference-Regular.otf");
}

@font-face {
    font-family: Venice;
    src: url("../fonts/VeniceSerif-Regular.otf");
}

:root {
    --maincolor: #16a085;
    /*#010032  */
    --fontcolor: #ecf0f1;
    --fontcolorshaded:#2c3e50 ;
    --menucolor:#7f8c8d;
    --aboutbackgroundcolor:#3498db;
    --blogbackgroundcolor:  #9b59b6;
    --portfoliobackgroundcolor:#c0392b;
    --contactsbackgroundcolor:#2ecc71;
    --examplebackgroundcolor:#e74c3c;
    --bodycolor:#bfbfbf;

    --abouttextfontsize:3vh;


    --burgercolor: #2c3e50;
    --backhovercolor: #bdc3c7;



    --burgerwidth: 12vmin;
    --burgerheight: 15vmin;
    --burgerright: 4vh;
    --burgertop: 3vw;
    --metop: 15vh;
    --mefont-size: 25vh;
    --burgertransition: 0.5s;
    --burgerelstransition: 0.3s;


    --menufontsize:10vh;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background:var(--bodycolor);
}

.visibilityarea {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.burger {
    position: fixed;
    margin: 0;
    padding: 0;
    width: var(--burgerwidth);
    height: var(--burgerheight);
    top: var(--burgertop);
    -webkit-transition: var(--burgertransition) var(--burgerelstransition);
    -moz-transition: var(--burgertransition) var(--burgerelstransition);
    transition: var(--burgertransition) var(--burgerelstransition);
    z-index: 100;
}

.burgerrightburger {
    right: var(--burgerright);
}

.burgercentercross {
    right: calc( 50vw -  0.5* var(--burgerwidth));
}

.burgerleftcross {
    right: calc( 100vw - var(--burgerright) - var(--burgerwidth));
}

.burgerrightburger>div,
.burgerleftcross>div,
.burgercentercross>div {
    width: var(--burgerwidht);
    height: calc( var(--burgerheight)/7 *0.6);
    margin-top: calc( var(--burgerheight)/7 *1.4);
    background: var(--fontcolor);
    -webkit-transition: var(--burgerelstransition);
    -moz-transition: var(--burgerelstransition);
    transition: var(--burgerelstransition);
}

.burgerleftcross>:first-child,
.burgercentercross>:first-child {
    transform: rotate(45deg);
    transform-origin: left;
}

.burgerleftcross>*,
.burgercentercross>* {
    transform: translateX(-1.5vw) rotate(-90deg) scaleX(0);
    transform-origin: center;
}

.burgerleftcross>:last-child,
.burgercentercross>:last-child {
    transform: rotate(-45deg);
    transform-origin: left;
}



.back{
    position: fixed;
    margin:  0;
    padding: 0;    
    width: max-content;
    height: var(--burgerheight);

    

    top: calc(  var(--burgertop));
    left: var(--burgerright)/4 ;

    z-index: 100;
    cursor: pointer;
}
.back>span{
    display: block;
    position: relative;
    font-size: calc(  var(--burgerheight)/7*4);
    font-family: monospace;
    top: calc(  var(--burgerheight)/7);

    

    color:var(--fontcolor);

    text-align: center;


}


.back:hover>span {
    color :var(--burgercolor);
}
.burgercentercross:hover>*,
.burgerleftcross:hover>*{
    background: var(--burgercolor);
}




.nodisplay{  
    top:calc(-1 * var(--burgertop) - var(--burgerheight));  
    transition: calc( var(--burgerelstransition) + var(--burgertransition) );
}

.display{
     transition: var(--burgertransition);
}











.view {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;


    border-top:calc( var(--burgerheight) + 2* var(--burgertop) ) solid ;
    box-sizing: border-box;

    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    
}



.mainview {
    background: var(--maincolor);
    border-color: var(--maincolor);

    border: none;
}

.mainview>.me {
    top:0;
    left:0;
    position: fixed;
    text-align: center;
    width: 100vw;
    color: var(--fontcolor);
    padding: 0;
    margin: 0;
    font-family: venice;
    top: var(--metop);
    font-size: var(--mefont-size);
    z-index: 1;



}



.mainview>p{
    color: var(--fontcolor);
    
}

.mainview>.mebackground {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.menuview {
    top: 0;
    left: 100vw;
    
    background: var(--menucolor);


    border-color: var(--menucolor);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 4;



    border: none;
}

.menuview>*{
    width: 100vw;
    height: max-content;
    z-index: 2;
}

.menuview>*>a{
    display: block;
    width: 100%;
    height: 100%;
    font-family: venice;
    font-size: var(--menufontsize);
    color: var(--fontcolor);
    text-align: center;
    z-index: 1;
}


.menuview>div:hover>a{
    color: var(--fontcolorshaded);
}

.menuview>*>a:link,
.menuview>*>a:visited,
.menuview>*>a:hover,
.menuview>*>a:active{
    text-decoration: none;
}





.contactsview{

    top: 0vh;
    left: 100vw;
    background: var(--contactsbackgroundcolor);
    border-color: var(--contactsbackgroundcolor);


    opacity: 0;  

    display: flex;
    align-items: center;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-around;


    border: none;
}

.contactsview>*{
    height: 10vh;
    color: var(--fontcolor);
}
.contactsview>a:hover>i{
    color:  var(--fontcolorshaded);;
}



.aboutview{
    top: -100vh;
    left: 100vw;
    background: var(--aboutbackgroundcolor); 
    border-color: var(--aboutbackgroundcolor);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;




    
}


.aboutview>*{
    margin: 0;
    padding: 0;
    border: 0;

}

.aboutview>p{
    font-family: glacia;
    font-size: var(--abouttextfontsize);
    width: 80vw;
    color: var(--fontcolor);
    flex-shrink: 7;
}

.aboutview>.portrait{
    position: relative;
    height: 50%;
    border-radius: 50%;
    

}

.blogview{
    top: 100vh;
    left: 100vw;
    background: var(--blogbackgroundcolor);
    border-color: var(--blogbackgroundcolor);



    
}

.portfolioview{
    top: 0vh;
    left:200vw;
    background: var(--portfoliobackgroundcolor);

    border-color: var(--portfoliobackgroundcolor);
    


    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;

    overflow-y: scroll;



    

}



.portfolioview>.example{
    width: 90vw;
    min-height: 60vw;
    background: var(--examplebackgroundcolor);
    margin-bottom: 3vh;
}



::-webkit-scrollbar {
    display: none;
}





.movedefault{
    transform:translateX(0) translateY(0); 
}
.movemenu{
    transform:translateX(-100vw) ;
}
.movecontacts{
    transform:translateX(-100vw) ;
    opacity: 1;
    z-index: 2;
}
.moveabout{
    transform:translateX(-100vw) translateY(100vh);
}

.moveblog{
    transform:translateX(-100vw) translateY(-100vh);
}
.moveportfolio{
    transform:translateX(-200vw);
}
